.product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191919;
}

#img{
    width: 150;
    height: 110px;
}

.title{
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.btn{
    width: 119px;
    height: 38px;
    top: 625px;
    left: 515px;
    border-radius: 6px;   
    background-color: #6C3EB8;
    color: #FFFFFF;
    border: none;
    margin: 0px 0px 25px 0px;
}

